{% extends "base_layout.html" %}
{% block title %}
Lucky Draw
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='luckydraw.css')}}" />
{% endblock %}

{% block content %}
<body>

    <section class="u-clearfix u-section-1" id="carousel_3128">

        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-expanded-height u-gradient u-opacity u-opacity-70 u-shape u-shape-rectangle u-shape-1"></div>
          <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-size-30">
                  <div class="u-layout-col">
                    <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                      <div class="u-container-layout u-valign-middle">
                        <img class="u-image u-image-1" src="../static/Assets/luckydraw/trial3.png" data-image-width="612" data-image-height="612">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-col">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                      <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h4 class="u-text u-text-1">Lucky Draw: Exchange for a prize!&nbsp;</h4>
                        <h2 class="u-text u-text-2">You have saved {{hour}} hours from Focuzing!</h2>
                        <p class="u-text u-text-3">Save up Focuzing hours to exchange for different items to customise your profile! The more you Focuz, the better the prize.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                      <div class="u-container-layout">
                        <button type="button" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-50 u-btn-1" onclick="draw30()"> Spend 30 hours for a common prize</button>
                        <button type="button" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-50 u-btn-2" onclick="draw60()"> Spend 60 hours for a rare prize</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>

    <script>
        // I AM ABOUT TO CRY
        function draw30() {
            pass;
        }

        function draw60() {
            pass;
        }
    </script>

</body>>    
{% endblock %}