<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:700|PT+Sans:400,400i,700"></link>
        <link rel="stylesheet" type="text/css" href="../static/unloggedin.css"></link> 
    </head>

    <body>
        <div class="login-div">
            <a class="button1" href="/login" role="button">Login/Signup</a>
        </div>

        <div class="container out" style="padding:0">
            <section class="first-container">
                <h1 class="title">Focuz</h1>
            </section>

            <section class="second-container">
                <p class="fade">Have you ever had a rough time focusing in class?</p>
            </section>

            <section class="third-container">
                <div class="laptop-bg" style="height:100%; width:50%">
                    <p class="fade">Find yourself wandering to various websites?</p>
                </div>
                <div class="clock-bg" style="height:100%; width:50%">
                    <p class="fade">Staring at the clock?</p>
                </div>
            </section>

            <section>
                <h2 class="fade" style="padding-top:40vh">Counting the seconds down?</h2>
            </section>

            <section class="countdown-container">
                <p class="fade">3</p>
                <p class="fade">2</p>
                <p class="fade">1</p>
            </section>

            <section style="height:80vh">
                <h2 style="padding-top: 6em;" class="fade">However, don't fret.</h2>
                <p class="fade">As we have the perfect the solution for you.</p>
            </section>

            <h2 class="fade">FOCUZ</h2>
            <p class="fade">An app designed to help you concentrate in the straining online lessons, allowing you to achieve your maximum potential even in the height of the global pandemic. </p>
            <p class="fade">Through cutting-edge technology, we provide you with the optimum environment for perfect study. </p>

            <h2 class="fade">What are you waiting for?</h2>
            <p class="fade">Sign up today for an unforgettable date with your lovely textbooks.</p>
            <div style="text-align: center">
                <a style="margin-top: 60px;" class="button1" href="/login" role="button">Login / Signup</a>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>   
        <script src="../static/unloggedin.js"></script>
    </body>
</html>